{% extends 'base.html.twig'%}   
<!-- {% block body %}-->
    
<h1>{{ title }}</h1>

<div>
    <p>
       d;lsfkwe rjwperjwep rjwepr 
    </p>
    <p>
        20348203 4woi jfowijr20932 0i3rj
    </p>
    <p>
        weorijweroi jweirjwierjweoirjp23i92i432-3i4-02i
    </p>
    <p>
         kwflwefwlejr pwoe rpow erpokwe pqie23i-023i4-2 3dk;wlqdewf;èwke fpqj3f
    </p>
</div>


<h2>comments|lenght</h2>

<ul>
    {% for comment in comments %}
        <li>{{omment}}</li>
    {% endfor %}   
</ul>
<!--{%endblock %}--"